In [39]:
import pandas as pd
import chardet

# Data Cleaning

In [40]:
dataset_path = '/Users/kor/Downloads/Adecco_Dataset/direct_matching_20240213_eng.csv'

In [37]:
encoding

'ISO-8859-1'

In [41]:
with open(dataset_path, 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']

In [43]:
df = pd.read_csv(dataset_path, delimiter=';', encoding=encoding)

In [45]:
df.head(11)

,cand_id,job_id,distance_km,match_score,match_rank,cand_gender,cand_age_bucket,cand_domicile_province,cand_domicile_region,cand_education,job_contract_type,job_professional_category,job_sector,job_work_province
0,"5,664,912",OFF_1011_1427,3.232.704.163,9.957.338.715,1,Male,45-54,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
1,"4,999,120",OFF_1011_1427,155.955.925,9.921.056.366,2,Male,35-44,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
2,"5,413,671",OFF_1011_1427,3.134.887.695,991.186.142,3,Female,45-54,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
3,"5,965,090",OFF_1011_1427,6.631.559.753,9.740.976.715,4,Male,15-24,TS,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
4,"5,771,219",OFF_1011_1427,155.955.925,9.732.387.543,5,Female,35-44,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
5,"2,216,205",OFF_1011_1427,2.494.693.947,969.223.175,6,Male,55-74,UD,FRIULI VENEZIA GIULIA,Degree / High School : Surveying,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
6,"4,594,051",OFF_1011_1427,2.795.996.857,9.624.521.637,7,Male,55-74,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
7,"5,148,878",OFF_1011_1427,2.551.218.033,9.623.524.475,8,Male,25-34,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
8,"5,933,345",OFF_1011_1427,288.568.325,9.600.971.222,9,Female,45-54,GO,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
9,"7,204,128",OFF_1011_1427,3.134.887.695,9.580.227.661,10,Female,35-44,UD,FRIULI VENEZIA GIULIA,NaN,Subordinate employment,Surveying and technician of civil and industri...,Designers / Design / Graphics,UD
10,"5,025,089",OFF_1038_1739,1.778.607.559,9.994.982.147,1,Male,25-34,MI,LOMBARDIA,Degree / High School : Scientific High School,Search and selection,Butcher (m/f),Large-scale distribution / Retail / Shop assis...,MI

In [48]:
df1 = df[df['match_rank'] == 1]

In [52]:
df1.drop(['match_rank'], axis=1, inplace=True)

/var/folders/2q/rkhrm2kx3679lsk08jhspf5w0000gn/T/ipykernel_3183/966673203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['match_rank'], axis=1, inplace=True)

In [53]:
df1.describe()

,cand_id,job_id,distance_km,match_score,cand_gender,cand_age_bucket,cand_domicile_province,cand_domicile_region,cand_education,job_contract_type,job_professional_category,job_sector,job_work_province
count,865,865,865,865,865,865,865,865,215,865,865,865,865
unique,753,865,607,829,2,5,61,14,96,3,247,26,53
top,"3,616,557",OFF_1011_1427,0,9.994.013.977,Male,25-34,MI,LOMBARDIA,Middle School,Subordinate employment,General Metalworker,General Workers,MI
freq,6,1,66,3,483,290,132,398,42,566,77,283,169